USE [master]
GO
/****** Object:  Database [QLSVTC]    Script Date: 11/3/2024 9:00:51 PM ******/
CREATE DATABASE [QLSVTC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSVTC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER0\MSSQL\DATA\QLSVTC.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSVTC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER0\MSSQL\DATA\QLSVTC_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVTC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVTC]
GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](50) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [numeric](4, 2) NULL,
	[DIEM_CK] [numeric](4, 2) NULL,
	[HUYDANGKY] [bit] NULL,
	[MADK] [int] NOT NULL,
 CONSTRAINT [PK__DANGKY__EC3F136490AEC4FC] PRIMARY KEY CLUSTERED 
(
	[MADK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGDAY]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGDAY](
	[MAGIANGDAY] [int] IDENTITY(1,1) NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MATB] [int] NOT NULL,
	[MALTC] [int] NOT NULL,
 CONSTRAINT [PK__GIANGDAY__8AB53872FB161F32] PRIMARY KEY CLUSTERED 
(
	[MAGIANGDAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[HOCVI] [nvarchar](7) NULL,
	[HOCHAM] [nvarchar](11) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
 CONSTRAINT [PK__GIANGVIE__603F38B16BE6D5FD] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KEHOACH]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEHOACH](
	[MAKEHOACH] [int] IDENTITY(1,1) NOT NULL,
	[MAMONHOC] [nchar](10) NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[MANKHK] [int] NOT NULL,
	[HOCKY] [int] NULL,
 CONSTRAINT [PK__KEHOACH__C7DD0EFB91B3E300] PRIMARY KEY CLUSTERED 
(
	[MAKEHOACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHANANG]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHANANG](
	[MAKHANANG] [int] IDENTITY(1,1) NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
 CONSTRAINT [PK__KHANANG__ACB117147A2DB50D] PRIMARY KEY CLUSTERED 
(
	[MAKHANANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[MATRUONGKHOA] [nchar](10) NULL,
 CONSTRAINT [PK__KHOA__22F417700C22C2CF] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [int] NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
 CONSTRAINT [PK__LOP__7A3DE211E2500A7B] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT NULL,
	[MANKHK] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL CONSTRAINT [DF__LOPTINCHI__HUYLO__29572725]  DEFAULT ('false'),
 CONSTRAINT [PK__LOPTINCH__7A3D3BC6EBD9AADD] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMONHOC] [nvarchar](50) NOT NULL,
	[SOTIETLT] [int] NOT NULL,
	[SOTIETTH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NKHK]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NKHK](
	[MANKHK] [int] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[NAMHOC] [int] NOT NULL,
	[HK] [int] NOT NULL,
	[NGAYMODK] [date] NOT NULL,
	[NGAYDONGDK] [date] NOT NULL,
 CONSTRAINT [PK__NKHK__1BC29D282E925C1D] PRIMARY KEY CLUSTERED 
(
	[MANKHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL CONSTRAINT [DF__SINHVIEN__PHAI__2A4B4B5E]  DEFAULT ('false'),
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL CONSTRAINT [DF__SINHVIEN__DANGHI__2B3F6F97]  DEFAULT ('false'),
	[PASSWORD] [nvarchar](40) NULL CONSTRAINT [DF__SINHVIEN__PASSWO__2C3393D0]  DEFAULT (''),
 CONSTRAINT [PK__SINHVIEN__60228A281047CB87] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUBUOI]    Script Date: 11/3/2024 9:00:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUBUOI](
	[MATHUBUOI] [int] IDENTITY(1,1) NOT NULL,
	[THU] [int] NOT NULL,
	[BUOI] [int] NOT NULL,
 CONSTRAINT [PK__THUBUOI__31BC8F75D26A0A5D] PRIMARY KEY CLUSTERED 
(
	[MATHUBUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'N-ATTT    ', N'An toàn thông tin', N'CNTT      ')
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'N-CNTT    ', N'Công nghệ thông tin', N'CNTT      ')
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'N-DT      ', N'Điện tử', N'VT        ')
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [MADK]) VALUES (10, N'D19DCCN001', 8, CAST(7.50 AS Numeric(4, 2)), CAST(9.00 AS Numeric(4, 2)), 0, 1)
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [MADK]) VALUES (20, N'D19DCCN002', 9, CAST(8.00 AS Numeric(4, 2)), CAST(8.50 AS Numeric(4, 2)), 0, 2)
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [MADK]) VALUES (30, N'D19DCCN003', 7, CAST(6.50 AS Numeric(4, 2)), CAST(7.00 AS Numeric(4, 2)), 0, 3)
SET IDENTITY_INSERT [dbo].[GIANGDAY] ON 

INSERT [dbo].[GIANGDAY] ([MAGIANGDAY], [MAGV], [MATB], [MALTC]) VALUES (1, N'GV001     ', 1, 10)
INSERT [dbo].[GIANGDAY] ([MAGIANGDAY], [MAGV], [MATB], [MALTC]) VALUES (2, N'GV002     ', 2, 20)
INSERT [dbo].[GIANGDAY] ([MAGIANGDAY], [MAGV], [MATB], [MALTC]) VALUES (3, N'GV003     ', 2, 10)
SET IDENTITY_INSERT [dbo].[GIANGDAY] OFF
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON]) VALUES (N'GV001     ', N'CNTT      ', N'Nguyễn', N'An', N'TS', N'PGS', N'Công nghệ phần mềm')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON]) VALUES (N'GV002     ', N'CNTT      ', N'Trần', N'Bình', N'TS', N'GS', N'Mạng máy tính')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON]) VALUES (N'GV003     ', N'CNTT      ', N'Phạm', N'Cường', N'MS', NULL, N'Hệ thống thông tin')
SET IDENTITY_INSERT [dbo].[KEHOACH] ON 

INSERT [dbo].[KEHOACH] ([MAKEHOACH], [MAMONHOC], [MACN], [MANKHK], [HOCKY]) VALUES (43, N'CNTT001   ', N'N-CNTT    ', 20191, 1)
INSERT [dbo].[KEHOACH] ([MAKEHOACH], [MAMONHOC], [MACN], [MANKHK], [HOCKY]) VALUES (50, N'CNTT002   ', N'N-CNTT    ', 20191, 2)
INSERT [dbo].[KEHOACH] ([MAKEHOACH], [MAMONHOC], [MACN], [MANKHK], [HOCKY]) VALUES (51, N'ATTT002   ', N'N-ATTT    ', 20191, 1)
SET IDENTITY_INSERT [dbo].[KEHOACH] OFF
SET IDENTITY_INSERT [dbo].[KHANANG] ON 

INSERT [dbo].[KHANANG] ([MAKHANANG], [MAGV], [MAMH]) VALUES (7, N'GV001     ', N'ATTT001   ')
INSERT [dbo].[KHANANG] ([MAKHANANG], [MAGV], [MAMH]) VALUES (1, N'GV001     ', N'CNTT001   ')
INSERT [dbo].[KHANANG] ([MAKHANANG], [MAGV], [MAMH]) VALUES (8, N'GV002     ', N'ATTT002   ')
SET IDENTITY_INSERT [dbo].[KHANANG] OFF
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [MATRUONGKHOA]) VALUES (N'CNTT      ', N'Công nghệ thông tin', NULL)
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [MATRUONGKHOA]) VALUES (N'VT        ', N'Viễn Thông', N'          ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA]) VALUES (N'D19CQAT01 ', N'D19 An toàn 1', 2019, N'CNTT      ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA]) VALUES (N'D19CQCN01 ', N'D19 Công nghệ 1', 2019, N'CNTT      ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA]) VALUES (N'D19CQCN02 ', N'D19 Công nghệ 2', 2019, N'CNTT      ')
SET IDENTITY_INSERT [dbo].[LOPTINCHI] ON 

INSERT [dbo].[LOPTINCHI] ([MALTC], [MANKHK], [MAMH], [NHOM], [MAKHOA], [SOSVTOITHIEU], [HUYLOP]) VALUES (10, 20211, N'ATTT001   ', 1, N'CNTT      ', 5, 0)
INSERT [dbo].[LOPTINCHI] ([MALTC], [MANKHK], [MAMH], [NHOM], [MAKHOA], [SOSVTOITHIEU], [HUYLOP]) VALUES (11, 20211, N'ATTT002   ', 1, N'CNTT      ', 6, 0)
INSERT [dbo].[LOPTINCHI] ([MALTC], [MANKHK], [MAMH], [NHOM], [MAKHOA], [SOSVTOITHIEU], [HUYLOP]) VALUES (12, 20211, N'ATTT003   ', 2, N'CNTT      ', 4, 0)
SET IDENTITY_INSERT [dbo].[LOPTINCHI] OFF
INSERT [dbo].[MONHOC] ([MAMH], [TENMONHOC], [SOTIETLT], [SOTIETTH]) VALUES (N'ATTT001   ', N'Nhập môn An toàn thông tin', 30, 15)
INSERT [dbo].[MONHOC] ([MAMH], [TENMONHOC], [SOTIETLT], [SOTIETTH]) VALUES (N'ATTT002   ', N'Mã hóa và bảo mật thông tin', 45, 30)
INSERT [dbo].[MONHOC] ([MAMH], [TENMONHOC], [SOTIETLT], [SOTIETTH]) VALUES (N'ATTT003   ', N'Quản trị an ninh mạng', 30, 15)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV]) VALUES (N'NV1       ', N'Thuận')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV]) VALUES (N'NV2       ', N'Tuấn')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV]) VALUES (N'NV3       ', N'Đại')
INSERT [dbo].[NKHK] ([MANKHK], [MANV], [NAMHOC], [HK], [NGAYMODK], [NGAYDONGDK]) VALUES (20191, N'NV1       ', 2019, 1, CAST(N'2019-06-01' AS Date), CAST(N'2019-06-15' AS Date))
INSERT [dbo].[NKHK] ([MANKHK], [MANV], [NAMHOC], [HK], [NGAYMODK], [NGAYDONGDK]) VALUES (20192, N'NV2       ', 2019, 2, CAST(N'2019-12-02' AS Date), CAST(N'2019-12-16' AS Date))
INSERT [dbo].[NKHK] ([MANKHK], [MANV], [NAMHOC], [HK], [NGAYMODK], [NGAYDONGDK]) VALUES (20201, N'NV3       ', 2020, 1, CAST(N'2020-06-01' AS Date), CAST(N'2019-06-15' AS Date))
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [MACN], [DANGHIHOC], [PASSWORD]) VALUES (N'D19DCAT001', N'Nguyễn Văn', N'A', 1, N'Số 1, Đường ABC, Quận 1', CAST(N'2001-01-01' AS Date), N'D19CQAT01 ', N'N-ATTT    ', 0, N'password1')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [MACN], [DANGHIHOC], [PASSWORD]) VALUES (N'D19DCAT002', N'Trần Thị', N'B', 0, N'Số 2, Đường DEF, Quận 2', CAST(N'2001-02-02' AS Date), N'D19CQAT01 ', N'N-ATTT    ', 1, N'password2')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [MACN], [DANGHIHOC], [PASSWORD]) VALUES (N'D19DCAT003', N'Nguyễn Minh', N'C', 1, N'Số 3, Đường GHI, Quận 3', CAST(N'2001-03-03' AS Date), N'D19CQAT01 ', N'N-ATTT    ', 0, N'password3')
SET IDENTITY_INSERT [dbo].[THUBUOI] ON 

INSERT [dbo].[THUBUOI] ([MATHUBUOI], [THU], [BUOI]) VALUES (1, 2, 1)
INSERT [dbo].[THUBUOI] ([MATHUBUOI], [THU], [BUOI]) VALUES (2, 2, 2)
INSERT [dbo].[THUBUOI] ([MATHUBUOI], [THU], [BUOI]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[THUBUOI] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [MALTC_MASV]    Script Date: 11/3/2024 9:00:51 PM ******/
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [MALTC_MASV] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [MAGV_MATB_MLTC]    Script Date: 11/3/2024 9:00:51 PM ******/
ALTER TABLE [dbo].[GIANGDAY] ADD  CONSTRAINT [MAGV_MATB_MLTC] UNIQUE NONCLUSTERED 
(
	[MAGV] ASC,
	[MATB] ASC,
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [MAGV_MAMH]    Script Date: 11/3/2024 9:00:51 PM ******/
ALTER TABLE [dbo].[KHANANG] ADD  CONSTRAINT [MAGV_MAMH] UNIQUE NONCLUSTERED 
(
	[MAGV] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_KHOA]    Script Date: 11/3/2024 9:00:51 PM ******/
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [IX_KHOA] UNIQUE NONCLUSTERED 
(
	[MATRUONGKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [MANKHK_MAMH_NHOM]    Script Date: 11/3/2024 9:00:51 PM ******/
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [MANKHK_MAMH_NHOM] UNIQUE NONCLUSTERED 
(
	[MANKHK] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHUYENNGANH]  WITH CHECK ADD  CONSTRAINT [FK__CHUYENNGA__MAKHO__31EC6D26] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[CHUYENNGANH] CHECK CONSTRAINT [FK__CHUYENNGA__MAKHO__31EC6D26]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_GIANGVIEN]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_THUBUOI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THUBUOI] ([MATHUBUOI])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_THUBUOI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[KEHOACH]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACH_CHUYENNGANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KEHOACH] CHECK CONSTRAINT [FK_KEHOACH_CHUYENNGANH]
GO
ALTER TABLE [dbo].[KEHOACH]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACH_MONHOC] FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KEHOACH] CHECK CONSTRAINT [FK_KEHOACH_MONHOC]
GO
ALTER TABLE [dbo].[KEHOACH]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACH_NKHK] FOREIGN KEY([MANKHK])
REFERENCES [dbo].[NKHK] ([MANKHK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KEHOACH] CHECK CONSTRAINT [FK_KEHOACH_NKHK]
GO
ALTER TABLE [dbo].[KHANANG]  WITH CHECK ADD  CONSTRAINT [FK__KHANANG__MAMONHO__33D4B598] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHANANG] CHECK CONSTRAINT [FK__KHANANG__MAMONHO__33D4B598]
GO
ALTER TABLE [dbo].[KHANANG]  WITH CHECK ADD  CONSTRAINT [FK_KHANANG_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHANANG] CHECK CONSTRAINT [FK_KHANANG_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK__LOP__MAKHOA__3B75D760] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK__LOP__MAKHOA__3B75D760]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK__LOPTINCHI__MAMH__3E52440B] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK__LOPTINCHI__MAMH__3E52440B]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_NKHK] FOREIGN KEY([MANKHK])
REFERENCES [dbo].[NKHK] ([MANKHK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_NKHK]
GO
ALTER TABLE [dbo].[NKHK]  WITH CHECK ADD  CONSTRAINT [FK_NKHK_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NKHK] CHECK CONSTRAINT [FK_NKHK_NHANVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK__SINHVIEN__MACN__440B1D61] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK__SINHVIEN__MACN__440B1D61]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK__SINHVIEN__MALOP__45F365D3] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK__SINHVIEN__MALOP__45F365D3]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DANGKY] CHECK  (([DIEM_CC]>=(0) AND [DIEM_CC]<=(10) AND ([DIEM_GK]>=(0) AND [DIEM_GK]<=(10)) AND ([DIEM_CK]>=(0) AND [DIEM_CK]<=(10))))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DANGKY]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [CK_LOP] CHECK  (([KHOAHOC]>=(1997)))
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [CK_LOP]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_LOPTINCHI] CHECK  (([SOSVTOITHIEU]>(0) AND [NHOM]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_LOPTINCHI]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [CK_MONHOC] CHECK  (([SOTIETTH]>=(0) AND [SOTIETLT]>=(0) AND ([SOTIETLT]+[SOTIETTH])>(0)))
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [CK_MONHOC]
GO
ALTER TABLE [dbo].[THUBUOI]  WITH CHECK ADD  CONSTRAINT [CK_THUBUOI] CHECK  (([THU]>=(2) AND [THU]<=(8) AND ([BUOI]>=(1) AND [BUOI]<=(3))))
GO
ALTER TABLE [dbo].[THUBUOI] CHECK CONSTRAINT [CK_THUBUOI]
GO
USE [master]
GO
